{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

# Update Homebrew recipes
echo "Update brew repositories"
brew update

{{ $taps := list
      "nicoverbruggen/homebrew-cask" -}}

{{ $brews := list
     "ansible"
     "ansible-lint"
     "bash"
     "bat"
     "gh"
     "git"
     "gnupg"
     "grep"
     "node"
     "yarn"
     "coreutils"
     "awscli"
     "azure-cli"
     "chezmoi"
     "python"
     "git-delta"
     "httpie"
     "sshpass"
     "git-lfs"
     "pkg-config" -}}

{{ $casks := list
     "docker"
     "gpg-suite"
     "slack"
     "visual-studio-code"
     "dotnet-sdk"
     "jetbrains-toolbox"
     "sf-symbols"
     "redisinsight"
     "github-copilot-for-xcode"
     "powershell"
     "microsoft-edge" -}}

{{ $fonts := list
     "font-lato"
     "font-open-sans"
     "font-roboto"
     "font-meslo-lg-nerd-font"
     "font-jetbrains-mono"
     "font-meslo-for-powerline" -}}
     
{{ $drivers := list
     "logi-options-plus" -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ range ($fonts | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ range ($drivers | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
