{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -eufo pipefail

echo "Update brew repositories"
brew update

brew bundle --file=/dev/stdin <<EOF
{{ range (.packages.darwin.taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range (.packages.darwin.common.brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range (.packages.darwin.common.casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ if .personal -}}
{{ range (.packages.darwin.personal.brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range (.packages.darwin.personal.casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ end -}}
{{ if .work -}}
{{ range (.packages.darwin.work.brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range (.packages.darwin.work.casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ end -}}
{{ range (.packages.darwin.fonts | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ range (.packages.darwin.drivers | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
