{{/* boolean feature tags */}}
{{- $codespaces := false -}}
{{- $work := false -}}
{{- $personal := false -}}

{{- $hostname := .chezmoi.hostname -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") -}}
{{-   $codespaces = true -}}
{{- end -}}

{{- $name := "André Silva" -}}
{{- $email := "2493377+askpt@users.noreply.github.com" -}}
{{- if and $work (not $codespaces) -}}
{{- $email = azureKeyVault "email-work" -}}
{{- end -}}

{{- if stat (printf "%s/.work" (env "HOME")) -}}
{{-   $work = true -}}
{{- else -}}
{{-   $personal = true -}}
{{- end -}}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  codespaces: {{ $codespaces }}
  work: {{ $work }}
  personal: {{ $personal }}
  hostname: {{ $hostname | quote }}
  personal-signing-key: {{ azureKeyVault "signingkey-personal" }}
  work-signing-key: {{ azureKeyVault "signingkey-work" }}
  signingkey: {{ if $work }}{{ azureKeyVault "signingkey-work" }}{{ else }}{{ azureKeyVault "signingkey-personal" }}{{ end }}

{{/* dont set azurekeyvault on codespaces */}}
{{- if not $codespaces -}}
azureKeyVault:
  defaultVault: "askpt-dot"
{{- end -}}