{{/* boolean feature tags */}}
{{- $codespaces := false -}}
{{- $work := false -}}
{{- $personal := false -}}

{{- $hostname := .chezmoi.hostname -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") -}}
{{-   $codespaces = true -}}
{{- end -}}

{{- $name := "André Silva" -}}
{{- $email := "2493377+askpt@users.noreply.github.com" -}}

{{- if eq $hostname "DUB" -}}
{{-   $work = true -}}
{{- else -}}
{{-   $personal = true -}}
{{- end -}}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  codespaces: {{ $codespaces }}
  work: {{ $work }}
  personal: {{ $personal }}
  hostname: {{ $hostname | quote }}

{{/* dont set azurekeyvault on codespaces */}}
{{- if not $codespaces -}}
azureKeyVault:
  defaultVault: "askpt-dot"
{{- end -}}