{{- $codespaces := false -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") -}}
{{-   $codespaces = true -}}
{{- end -}}

{{- $name := "André Silva" -}}
{{- $email := "2493377+askpt@users.noreply.github.com" -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  name: "{{ $name }}"
  email: "{{ $email }}"
  codespaces: "{{ $codespaces }}"

{{/* dont set azurekeyvault on codespaces */}}
{{- if not $codespaces -}}
azureKeyVault:
  defaultVault: "askpt-dot"
{{- end -}}