# Homebrew
{{ if eq .chezmoi.os "darwin" -}}
{{   if stat "/opt/homebrew/bin/brew" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{   else if stat "/usr/local/bin/brew" -}}
eval "$(/usr/local/bin/brew shellenv)"
{{   end -}}
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
{{   if stat "/home/linuxbrew/.linuxbrew/bin/brew" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{   end -}}
{{ end -}}

# .NET Tools and SDK
{{ if eq .chezmoi.os "linux" -}}
export DOTNET_ROOT=$HOME/.dotnet
export PATH=$PATH:$DOTNET_ROOT:$DOTNET_ROOT/tools
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
export DOTNET_ROOT=/opt/homebrew/bin/.dotnet
export PATH=$PATH:$DOTNET_ROOT:$DOTNET_ROOT/tools
{{ end -}}

# Python tools
{{ if eq .chezmoi.os "darwin" -}}
export PATH="$PATH:/usr/local/opt/python@3.9/Frameworks/Python.framework/Versions/3.9/bin"
{{ end -}}

# GH Copilot
eval "$(gh copilot alias -- zsh)"
