# Homebrew
{{ if eq .chezmoi.os "darwin" -}}
{{   if stat "/opt/homebrew/bin/brew" -}}
fpath+=("$(/opt/homebrew/bin/brew --prefix)/share/zsh/site-functions")
eval "$(/opt/homebrew/bin/brew shellenv)"
{{   else if stat "/usr/local/bin/brew" -}}
fpath+=("$(/usr/local/bin/brew --prefix)/share/zsh/site-functions")
eval "$(/usr/local/bin/brew shellenv)"
{{   end -}}
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
{{   if stat "/home/linuxbrew/.linuxbrew/bin/brew" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{   end -}}
{{ end -}}

# .NET Tools and SDK
{{ if eq .chezmoi.os "linux" -}}
export PATH=$PATH:$HOME/.dotnet
export DOTNET_ROOT=$HOME/.dotnet
{{ end -}}

# Add .NET SDK tools
export PATH="$PATH:$HOME/.dotnet/tools"

# Python tools
{{ if eq .chezmoi.os "darwin" -}}
export PATH="$PATH:/usr/local/opt/python@3.9/Frameworks/Python.framework/Versions/3.9/bin"
{{ end -}}
