{{- if not .codespaces -}}
#!/bin/sh

# Import the GPG key
gpg --import $HOME/.gnupg/key-personal.asc
gpg --import $HOME/.gnupg/key-work.asc

# Clean up
rm $HOME/.gnupg/key-personal.asc
rm $HOME/.gnupg/key-work.asc

{{ end }}
