{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

# Update Homebrew recipes
echo "Update brew repositories"
brew update

# Install all our dependencies with bundle (See Brewfile)
echo "Install brew bundle"
brew tap homebrew/bundle

{{ $taps := list
      "homebrew/cask"
      "homebrew/cask-fonts"
      "homebrew/cask-versions"
      "homebrew/bundle"
      "homebrew/cask-drivers"
      "nicoverbruggen/homebrew-cask" -}}

{{ $brews := list
     "bash"
     "bat"
     "gh"
     "git"
     "gnupg"
     "grep"
     "node"
     "yarn"
     "coreutils"
     "awscli"
     "azure-cli"
     "chezmoi"
     "svn"
     "git-delta"
     "pkg-config" -}}

{{ $casks := list
     "docker"
     "gpg-suite"
     "slack"
     "visual-studio-code"
     "dotnet-sdk"
     "grammarly"
     "microsoft-teams"
     "jetbrains-toolbox"
     "microsoft-edge" -}}

{{ $fonts := list
     "font-lato"
     "font-open-sans"
     "font-roboto"
     "font-meslo-lg-nerd-font"
     "font-jetbrains-mono"
     "font-meslo-for-powerline" -}}
     
{{ $drivers := list
     "logitech-options" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ range ($fonts | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ range ($drivers | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
