{{- if (and (eq .chezmoi.os "linux") (not .codespaces)) -}}
#!/bin/bash

set -eufo pipefail

sudo apt-get update
sudo apt-get install -y \
{{ range (.packages.linux.apt | sortAlpha | uniq) -}}
  {{ . }} \
{{ end }}

# Set zsh as default shell if present
if command -v zsh >/dev/null 2>&1; then
  chsh -s "$(command -v zsh)"
fi
{{ end -}}
