{{- if (and (eq .chezmoi.os "linux") (not .codespaces)) -}}
#!/bin/bash

set -eufo pipefail

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

echo "Update brew repositories"
brew update

brew bundle --file=/dev/stdin <<EOF
{{ range (.packages.linux.common.brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ if .personal -}}
{{ range (.packages.linux.personal.brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ end -}}
{{ if .work -}}
{{ range (.packages.linux.work.brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ end -}}
EOF
{{ end -}}
