{{- if (and (eq .chezmoi.os "linux") (not .codespaces)) -}}
#!/bin/bash

set -eufo pipefail

# install ZSH
sudo apt install zsh -y
chsh -s /usr/bin/zsh

# install dotnet
curl -sSL https://dot.net/v1/dotnet-install.sh | bash /dev/stdin -c STS

# install Homebrew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# Update Homebrew recipes
echo "Update brew repositories"
brew update

# Install dependencies
sudo apt-get install build-essential

# Install gcc
brew install gcc

{{ $brews := list
     "ansible"
     "ansible-lint"
     "bash"
     "bat"
     "gh"
     "git"
     "gnupg"
      "go"
     "grep"
     "node"
     "yarn"
     "coreutils"
     "awscli"
     "azure-cli"
     "chezmoi"
     "python"
     "git-delta"
     "httpie"
     "sshpass"
     "git-lfs"
     "pkg-config" -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
EOF
{{ end -}}
